
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?37927580');
  src: url('../fonts/fontello.eot?37927580#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?37927580') format('woff2'),
       url('../fonts/fontello.woff?37927580') format('woff'),
       url('../fonts/fontello.ttf?37927580') format('truetype'),
       url('../fonts/fontello.svg?37927580#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.more {font-family: 'fontello';
    font-size: 15px;
    margin: 5px;
    font-weight: 600;}
 
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */

/* CUSTOM RESETS
================================================== */
a {
    transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
}

a:focus,
a:hover {
    outline: 0 none;
    text-decoration: none;
}

h4 {
    font-size: 30px;
}

/* Buttons */ 
.btn {
    min-width: 145px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    transition: box-shadow 0.25s ease-in-out;
    -moz-transition: box-shadow 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
    -o-transition: box-shadow 0.25s ease-in-out;
    -ms-transition: box-shadow 0.25s ease-in-out;
}

.btn-fill {
    color: #fff;
    background-color: #212121;
}

.btn-border {
    background-color: transparent;
    color: #212121;
    border: 1px solid #212121; 
}

.btn-fill:hover,
.btn-fill:focus {
    color: #fff;
}

.btn:hover,
.btn:focus {
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.15);
}

/* Input fields */
.form-control {
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #212121;
    border-radius: 0;
    background-color: transparent; 
    box-shadow: none;
    outline: 0 none transparent;
    -webkit-appearance:none;
 }

textarea {
    margin-top: 40px;
    min-height: 200px;
    resize: none;
}

.form-control:focus {
    box-shadow: none;
    border-bottom-color: #e1e1e1;
}

::-moz-placeholder,
::-webkit-input-placeholder {
    font-size: 16px;
}

/* BASE
================================================== */
html, body {

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #212121;
    
}

.img-res {
    display: block;
    width: 100vw;
    /* height: 100vh; */
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.visible-xxs {
    display: none;
}

/* Background-color */
.gray-bg {
    background-color: #e1e1e1;
}

/* HEADER
================================================== */
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 5;
    /* background: linear-gradient(to bottom, rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%)!important; */
}

.site-logo img {
    padding-bottom: 2px;
}

/* Navigation */
.navbar-nav > li > a {
    padding: 5px 0;
    font-weight: 600;
    color: #212121;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-color 0.25s ease-in-out;
    -moz-transition: border-color 0.25s ease-in-out;
    -webkit-transition: border-color 0.25s ease-in-out;
    -o-transition: border-color 0.25s ease-in-out;
    -ms-transition: border-color 0.25s ease-in-out;
}

.navbar-nav.navbar-right {
    margin-right: 0;
}

.navbar-nav > li + li > a {
    margin-left: 40px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li.active > a,
.nav > li > a:hover,
.nav > li.active > a {
    background-color: transparent;
    border-bottom: 2px solid #FF0000;
}

.nav > li > a:focus {
    background-color: transparent;
}

/* HERO
================================================== */
.hero { 
    height: 100%;
    width: 70%;
    min-height: 900px;
}

.hero .container {
    position: relative;
    height: 100%;
}

.hero .col-md-6:first-child {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 2;
}

.hero .col-md-6:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    top:100px;
}

.hero h1 {
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.job-title {
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 1;
} 

.hero img {
}

/* SITEMAIN
================================================== */
.site-main {
    position: relative;
    margin-bottom: 100px;
    background-color: #fff;
    z-index: 1;
}
/* site-section */
.site-section {
   padding-top: 120px;
}

.site-section h2,
.site-section h3 {
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
}

.img-lines {
    margin: 15px 0 40px;
}

.site-section p {
    margin-bottom: 35px;
}

/* Section: Skills */
.section-skills {
    padding-bottom: 120px;
}

.skill + .skill {
    margin-top: 50px;
}

.skill h4 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.progress {
    height: 15px;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #dfdfdf;
    box-shadow: none;
}

.progress-bar {
    background-color: #212121;  
}

/* Section: Services */
.section-services {
    position: relative;
    padding-top: 220px;
}

.section-services:before {
    content: '';
    background: url(../img/services-bg.jpg) no-repeat fixed center / cover;
    width: 100%;
    height: 400px; 
    position: absolute;
    left: 0;
    top: 0;
}

.overlay:after {
    content: '';
    width: 100%;
    height: 400px; 
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    z-index: 0;
}

.section-services .container {
    padding: 120px 100px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.service h4 {
    margin: 25px 0;
    font-size: 24px;
    font-weight: 700;
}

.service p {
    color: #000;
    margin-bottom: 0;
}

/* Section: Portfolio */
.section-portfolio {
    padding-bottom: 120px;
}

.portfolio-item {
    height: 280px;
    margin-bottom: 30px;
    position: relative;
}

.section-portfolio .col-md-4:nth-last-child(-n+3) .portfolio-item {
    margin-bottom: 0;
}

.portfolio-item:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
}

.portfolio-item:hover:before{
    background-color: rgba(33,33,33,0.6);
}

.portfolio-item-info {
    position: absolute;
    top: 150px;
    left: 0px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}

.portfolio-item:hover .portfolio-item-info {
    left: 50px;
    opacity: 1;
}

.portfolio-item-info h4 {
    margin: 0 15px 20px;
    font-weight: 700;
    color: #fff;
}

.portfolio-item-info a {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    width: 30%;
    padding: 6px 7px 4px;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.portfolio-item-info a:hover {
    color: #212121;
    background-color: #fff;
}

.section-portfolio .btn {
    margin-top: 10px;
}

/* Modal */
.modal {
    z-index: 9999;
}

.modal-content {
    border-radius: 0;
    box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    position: relative;
    padding: 0;
    height: 500px;
}

.modal-header .close {
    position: absolute;
    right: 0;
    padding: 10px 11px;
    margin-top: 0;
    background-color: #fff;
    font-size: 16px;
    color: #212121;
    border-left: 1px solid #212121;
    border-bottom: 1px solid #212121;
    opacity: 1;
    transition: box-shadow 0.25s ease-in-out;
    -moz-transition: box-shadow 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
    -o-transition: box-shadow 0.25s ease-in-out;
    -ms-transition: box-shadow 0.25s ease-in-out;
}

.modal-header .close:hover {
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
}

.modal-body h4 {
    font-weight: 700;
}

.modal-footer {
    text-align: center;
}

/* Section: Counters */
.section-counters {
    background: url(../img/counters-bg.jpg) no-repeat fixed center / cover;
    width: 100%;
    padding: 100px 0;
    position: relative;
}

.section-counters:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.section-counters h4 {
    color: #fff;
    margin: 25px 0 0;
}

.site-section p.counter {
    font-size: 100px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    line-height: 0.8;
}

/* Section: Form*/
.section-form {
    padding-bottom: 120px;
}

.section-form .btn {
    margin-top: 40px;
}



/* Wrapper */
.wrapper {
    width: 90%;
      max-width: 900px;
      margin: 3em auto;
      text-align: center;
  }
  
   i.fab {
      font-size: 2.6em;
          margin-top: 16px;
    }
  
  /* Badge */
  .badgeItem {
      margin: 1.5em 3em;
      width: 6.4em;
      height: 6.4em;
      border-radius: 20%;
      display: inline-block;
      top: 0;
      transition: all 0.2s ease;
    box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
  }
  
  .rounded {
    width: 70px;
      height: 70px;
    background: white;
    position: absolute;
    margin: 15px 16px auto;
    z-index: 10;
      border-radius: 30%;
    box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);}
    
    /* Colors */
  .blue {
      background: dodgerblue;
      color: deepskyblue;
  }
  
  .orange {
    background: darkorange;
    color: orange;
  }
  
  .gold {
    background: gold;
    color: gold;
  }
  
  .red {
    background: red;
    color: red;
  }
  
  .purple {
    background: mediumpurple;
    color: slategray;
  }
  
  .green {
    background: yellowgreen;
    color: darkslategray;
  }
  
  .crimson {
    background: crimson;
    color: firebrick;
  }
  
  .steel {
    background: steelblue;
    color: grey;
  }
  
  .pink {
    background: hotpink;
    color: palevioletred;
  }
  
  .rebecca {
    background: rebeccapurple;
    color: rebeccapurple;
  }
  
  .gainsboro {
    background: gainsboro;
    color: orangered;
  }

  .dark {
    background: grey;
    color: black;
  }

/* FOOTER
================================================== */


/*--------------------------------------------------------------
Social
--------------------------------------------------------------*/
.basr-social-share {

    display: block;
    text-align:center;
    padding:0 auto;

  }

  .social-wrapper {
    display: flex;
    width: 500px;
  }
  
  .social ul {
    width: 100%;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
  }
  .social ul li {
    border: 5px solid white;
    border-radius: 50%;
    float: left;
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  @media only screen and (max-width: 480px) {
    .social ul li {
      border-width: 4px;
      width: 45px;
      height: 45px;
    }
  }
  .social ul li:not(:last-child) {
    margin-right: 10px;
  }
  .social ul li:before {
    content: '';
    border-radius: 50%;
    -webkit-shadow: inset 0 0px 3px rgba(149, 90, 42, 0.28), 0px 0px 0px 2px rgba(149, 90, 42, 0.28);
    -ms-box-shadow: inset 0 0px 3px rgba(149, 90, 42, 0.28), 0px 0px 0px 2px rgba(149, 90, 42, 0.28);
    box-shadow: inset 0 0px 3px rgba(149, 90, 42, 0.28), 0px 0px 0px 2px rgba(149, 90, 42, 0.28);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    opacity: 0.35;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  @media only screen and (max-width: 480px) {
    .social ul li:before {
      width: 43px;
      height: 43px;
    }
  }
  .social ul li:hover {
    border-color: black;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .social ul li:hover:before {
    -webkit-shadow: inset 0 0px 3px rgba(163, 54, 41, 0.28), 0px 0px 0px 2px rgba(163, 54, 41, 0.28);
    -ms-box-shadow: inset 0 0px 3px rgba(163, 54, 41, 0.28), 0px 0px 0px 2px rgba(163, 54, 41, 0.28);
    box-shadow: inset 0 0px 3px rgba(163, 54, 41, 0.28), 0px 0px 0px 2px rgba(163, 54, 41, 0.28);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .social ul li:hover i {
    color: black;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: black;
    -webkit-fill-color: black;
    text-shadow: 1px 0px 20px black;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .social ul li a {
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  @media only screen and (max-width: 480px) {
    .social ul li a {
      background-size: cover;
      top: -5px;
      left: -5px;
      width: 45px;
      height: 45px;
      line-height: 45px;
    }
  }
  .social ul li a:before {
    content: '';
    background-image: url('https://img.picload.org/image/dcocwcga/border-social-hover.png');
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 45px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  @media only screen and (max-width: 480px) {
    .social ul li a:before {
      background-size: cover;
      width: 30px;
      height: 30px;
    }
  }
  .social ul li a:after {
    content: '';
    background-image: url('https://img.picload.org/image/dcocwcgd/border-social.png');
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 45px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  @media only screen and (max-width: 480px) {
    .social ul li a:after {
      background-size: cover;
      width: 30px;
      height: 30px;
    }
  }
  .social ul li a:hover:before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .social ul li a:hover:after {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .social ul li a i {
    color: white;
    font-size: 23px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: black;
    -webkit-fill-color: black;
    text-shadow: 1px 0px 20px black;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  @media only screen and (max-width: 480px) {
    .social ul li a i {
      font-size: 16px;
    }
  }
  .social ul li a i.fa-envelope {
    font-size: 14px;
    top: 48%;
  }
  .k2t-footer.dark-style .social li a,
  .dark-style .social li a {
    color: #fff;
  }
  .k2t-footer.dark-style .social li a:hover,
  .dark-style .social li a:hover {
    color: #fff;
  }
  .basr-social-share.social li:hover a {
    color: #898989;
  }
  .basr-social-share.social li a {
    border-width: 0;
    color: #cccccc;
  }
  .basr-social-share.social li a:hover {
    color: #898989;
  }
  .basr-social-share.social li a span {
    display: none;
  }


.site-footer {
    bottom: 0;
    padding: 30px 0;
    width: 100%;
    background-color: #212121;
    z-index: -1;
}

.icon {
    line-height: 40px;
    padding: 9px 11px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.icon + .icon {
    margin-left: 5px;
}

.icon i:before {
    margin:0;
}

.icon:hover {
    background-color: #fff;
}

.site-footer a {
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

a.twitter-bg:hover {color: #55acee;}
a.facebook-bg:hover{color: #3b5998;}
a.gplus-bg:hover{color: #007bb5;} 
a.linkedin-bg:hover {color: #dd4b39;}
a.icon-up-bg:hover {color: #212121;}
a.github-bg:hover {color: #55acee;}
a.github-bg:hover {color: #55acee;}


.copyright {
    margin-bottom: 0;
    line-height: 40px;
    color: #fff;
    text-align: center;
}